body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

ul.list-group {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
ul.list-group h2 {
  font-family: "Montserrat", sans-serif;
}

table {
  font-family: "Open Sans", sans-serif;
}

.heading {
  font-family: "Montserrat", monospace;
}

.row-date {
  margin-left: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.avatar {
  margin: 10px 10px;
  padding: 13px 19px;
  height: 60px;
  width: 60px;
  background: #efaf56;
}

.round {
  border-radius: 50%;
}

.avatar-holder {
  float: right;
  padding: 10px;
}

.sys-name {
  font-size: 35px;
  color: #f4fff6;
  margin: 10px;
}

.sys-name:hover {
  color: #efaf56;
}

.btn-sign {
  float: right;
  font-size: 20px;
  color: #f4fff6;
  margin: 10px;
  padding: 10px;
}

.btn-sign:hover {
  color: #ef566a;
}

.btn-link:hover {
  text-decoration: none;
}

.login {
  font-family: "Montserrat", sans-serif;
}

.new-row {
  background-color: #f4fff6;
}

.order-list-item {
  margin: "1rem";
}

.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-out;
}

.modal-body {
  background-color: #f8f8f8;
  font-size: 20px;
}

.modal-header h5 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
