body {
  background-color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
}

ul.list-group {
  font-family: "Raleway", sans-serif;
}
ul.list-group h2 {
  font-family: "Montserrat", sans-serif;
}

table {
  font-family: "Open Sans", sans-serif;
}

.login {
  font-family: "Montserrat", sans-serif;
}

.new-row {
  background-color: #f4fff6;
}

.order-list-item {
  margin: "1rem";
}

.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-out;
}
