node_modules/
bundle.js
npm-debug.log

/.idea
/public

.env
.passport.js
.DS_Store

build/
dist/

static/app.bundle.js
static/vendor.bundle.js
static/app.bundle.js.map
static/vendor.bundle.js.map
static/config.js